@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: #2a2b32;
}

.one-half.column{
    margin-left: 0;
    margin-right: 0;
}


a{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}



.img-slider {
    display: flex;
    flex-direction: row;
    border: 3px solid #2a2b32;
    width: 100%;
    height: 500px;
    overflow: hidden;

}


img{
    width: 900px;
    height: auto;
}

.img-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.img-links ul li{
    margin: 15px;
    padding: 5px;
}

a:hover{
    color: #e91e63;
}

h1.header{
    color: #e91e63;
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    color: #616161;
    font-size: 2.5rem;
    font-weight: bold;
}

canvas{
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}

.mb{
    margin-bottom: 3rem;
}

.logo{
    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 10rem;
}

.links-list ul li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
    color: #fff;
    display: flex;
}

.links-list h1{
    color: #fff;
    font-size: 2.5rem;
}

.links-list ul li span{
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}

.footer{
    margin-top: 6rem;
}

.footer p{
    color: #fff;
    font-size: 1.3rem;
}