@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monoton&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;

}

a{
  text-decoration: none;
}

p{
    color: #ccc;
}

img{
    object-fit: cover;
}

body{
    background: #171717;
}


/* Navbar styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 2px;
}

nav .logo i{
background: #a3e635;
padding: 8px;
border-radius: 50%; /* Making the logo circular */
font-size: 20px;
}

/* Nav bar link container styles */
nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background: #171717;
    gap: 10px;
    border-radius: 50px;
}

/* Nav bar link styles */
nav .nav-links a{
    color: #fff;
    transition: all 0.3s ease;
}

nav .nav-links a:hover{
    color: #a3e635;
}

nav .nav-links .separator{
    width: 5px;
    height: 5px;
    background: #a3e635;
    border-radius: 50%;
}

nav .nav-links p{
    font-size: 13px;
}

/* Login container styles */
nav .login{
    display: flex;
    align-items: center;
    gap: 16px;
    background: #171717;
    border-radius: 50px;
    padding: 4px 4px 6px 14px;
}

/* Login icon styles */
nav .login img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Login text styles */
nav .login a{
    color: #fff;
    font-size: 13px;
}

.prompt-sec{
    padding: 20px;
}

.prompt-sec h1{
    color: #ccc;
    font-size: 182px;
    line-height: 120px;
    text-align: center;
    margin-top: 36px;
}

.prompt-sec .prompt-img{
    position: relative;
}

.prompt-sec .prompt-img img{
    width: 100%;
    height: 540px;
    border-radius: 60px;
    object-position: top center;
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 1);
}

.prompt-sec .prompt-img input{
    width: 55%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.22);
    border-radius: 20px;
    backdrop-filter: blur(14px); /* Adding blur effect */
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 16px;
    padding: 16px;
    text-align: center;
    color: #fff;
}

.prompt-sec .prompt-img input::placeholder{
    color: #ccc;
}

.prompt-sec .prompt-img .tabs{
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 8px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    
}

.prompt-sec .prompt-img .tabs a{
    color: #fff;
    background: #231f1c;
    padding: 10px;
    width: 160px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.prompt-sec .prompt-img .tabs a.active, .prompt-sec .prompt-img .tabs a:hover{
 color: #231f1c;
 background: #a3e635;
}